<table>
	<tr>
		<th width="60%">Comments</th>
		<th width="10%">Creator</th>
		<th width="30%">Creation time</th>		
	</tr>
	
	<%=render(:partial =>"comment", :collection=>comment_block.comments.find(:all)) %>

</table>
	<% if user_signed_in? %>
	<%=link_to_function "Create Comment", visual_effect(:toggle_slide, "mesnew#{comment_block.id}") %>
	<div id=<%="mesnew#{comment_block.id}"%> style="display:none">
		<% remote_form_for (@comment), :update=>"comment_blockk#{comment_block.id}" do |f| %>
			<p>			
				<%=f.text_area(:content) %>
			</p>
	
			<input type="hidden" id="comment_topic_id" name="comment[user_id]" value="<%=current_user.id %>" />	
			<input type="hidden" id="comment_time" name="comment[creation_time]" value="<%=Time.now %>" />			
			<input type="hidden" id="comment_post_id" name="comment[post_id]" value="<%=comment_block.id %>" />
			<p>
				<%=f.submit "Create"%>
			</p>	
		<%end%>
	</div>
	<% end %>
