<h1>Editing topic</h1>

<% form_for(@topic) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :creation_time %><br />
    <%= f.datetime_select :creation_time %>
  </p>
  <p>
    <%= f.label :last_post %><br />
    <%= f.datetime_select :last_post %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>