<table>
	<tr>
		<th width="60%">Comments</th>
		<th width="10%">Creator</th>
		<th width="30%">Creation time</th>		
	</tr>
<% for comment in @post.comments do %>
	<tr>
		<td><%=comment.content%></td>
		<td><%=comment.user.name%></td>
		<td><%=comment.creation_time%></td>		
	</tr>
<%end%>
</table>
<p><%= link_to 'New Post', "#{comments_path}/new?post=#{@post.id}", :id=>"app_menu" %><br/>
<%= link_to 'Back', "#{topics_path}/#{@post.topic_id}", :id=>"app_menu" %></p>